<ion-header>
  <ion-toolbar>
    <ion-title>
      TodoList
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Todos</h1>
  	<div *ngFor="let todo of todos" [class.done]=todo.done>
      <input type="checkbox" [(ngModel)]="todo.done">
      <input type="text"[(ngModel)]="todo.text">
  	
    </div>
    <button (click)="add()">add</button>
    <button (click)="clear()">clear</button>
  
  
  <!-- <p>{remaining} remaining</p>
  
  <button on:click={add}>
  	Add new
  </button>
  
  <button on:click={clear}>
  	Clear completed
  </button> -->
  
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TodoList</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="TodoList"></app-explore-container> -->
</ion-content>
